{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
<div class="col-6 m-auto">
    <h1 class="text-center">Je m'inscris sur le site</h1>
{{ form_start(registrationForm) }}
        {{ form_errors(registrationForm) }}
        {{ form_row(registrationForm.nom) }}    
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, { label: 'mot de passe' }) }}
         {{ form_row(registrationForm.roles) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn mt-3 btn-success" type="submit" class="btn">S'inscrire</button>
{{ form_end(registrationForm) }}
    </div>
{% endblock %}
